{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/profile.php?id=100011415727187&mibextid=ZbWKwL"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/rajput__divyanshu"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://x.com/DIVYANSHU99350?s=09"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/divyanshu-singh-232850196"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->